In [26]:
#Import things
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
import csv
import scipy.stats as st

table2 = pd.DataFrame(pd.read_csv("ghg_emissions_cleaned.csv"))
honeydf = pd.DataFrame(pd.read_csv("cleanhoney.csv"))
table10 = pd.DataFrame(pd.read_csv("totalpollutionbysector.csv"))

In [27]:
table2clean=table2.dropna(axis=1)
table2clean

,year,CO2,Fossil Fuel Combustion,Transportation,Electric Power,Industrial,Residential,Commercial,U.S. Territories,Non-Energy Use of Fuels,...,Stationary Combustion.1,Manure Management.1,Mobile Combustion.1,Nitric Acid Production,Adipic Acid Production,N2O from Product Uses,Composting.1,"Caprolactam, Glyoxal, and Glyoxylic Acid Production",Incineration of Waste.2,International Bunker Fuels b.2
0,1990,"5,113,455","4,731,466","1,469,116","1,819,951","853,808","338,578","228,298","21,715","112,766",...,84,47,150,41,51,14,1,6,2,3
1,1991,"5,057,931","4,680,858","1,422,498","1,817,359","839,111","347,719","232,665","21,505","118,155",...,84,48,157,41,50,14,1,5,1,3
2,1992,"5,167,481","4,779,991","1,477,783","1,830,688","866,425","353,989","228,049","23,059","124,568",...,85,48,166,42,44,13,1,6,1,3
3,1993,"5,267,343","4,893,308","1,508,743","1,906,172","865,292","366,091","222,991","24,020","113,501",...,87,47,173,42,47,15,2,6,1,3
4,1994,"5,358,824","4,964,870","1,554,070","1,930,468","872,851","357,050","224,700","25,732","124,026",...,89,50,180,45,45,15,2,6,1,3
5,1995,"5,421,502","5,022,522","1,580,796","1,947,173","889,939","353,134","227,789","23,691","121,447",...,90,51,185,45,57,15,3,7,1,3
6,1996,"5,610,582","5,214,331","1,627,475","2,020,243","922,940","383,474","237,558","22,641","118,574",...,92,51,189,47,56,15,3,6,1,3
7,1997,"5,686,465","5,274,912","1,643,618","2,087,520","917,785","365,033","237,819","23,137","129,352",...,94,51,193,48,32,16,3,7,1,3
8,1998,"5,731,050","5,320,581","1,679,024","2,176,555","890,758","331,610","220,118","22,516","134,503",...,95,52,194,48,17,16,4,7,1,3
9,1999,"5,804,669","5,371,982","1,746,445","2,189,666","843,186","350,907","220,730","21,048","157,907",...,95,54,186,46,16,16,4,7,1,3
10,2000,"6,010,508","5,608,609","1,792,301","2,296,172","869,536","371,703","236,530","42,367","129,105",...,100,55,182,45,18,16,4,7,1,3
11,2001,"5,904,882","5,530,665","1,762,572","2,257,204","866,807","363,053","228,457","52,572","122,713",...,99,54,175,36,15,16,5,6,1,3
12,2002,"5,946,771","5,567,973","1,803,118","2,272,227","853,269","361,082","229,007","49,269","125,412",...,103,56,168,39,17,14,5,7,1,3
13,2003,"6,011,837","5,644,298","1,812,082","2,303,678","853,185","380,126","240,136","55,090","119,350",...,107,56,161,37,18,14,5,7,1,3
14,2004,"6,114,007","5,721,277","1,845,324","2,335,083","877,079","369,060","237,976","56,755","136,788",...,111,54,154,37,12,14,6,7,1,3
15,2005,"6,134,521","5,753,507","1,858,648","2,400,057","852,895","358,898","227,130","55,879","129,135",...,115,55,139,38,24,14,6,7,1,3
16,2006,"6,051,668","5,667,213","1,859,216","2,344,396","875,747","321,726","211,807","54,321","127,135",...,114,57,137,37,29,14,6,7,1,3
17,2007,"6,131,004","5,754,027","1,860,822","2,411,137","867,449","341,171","223,085","50,362","116,110",...,116,58,122,44,34,14,6,7,1,3
18,2008,"5,914,078","5,555,537","1,759,761","2,359,332","820,456","347,889","227,506","40,592","111,770",...,114,57,113,38,8,14,6,7,1,3
19,2009,"5,478,210","5,182,208","1,688,556","2,145,346","744,237","336,424","228,044","39,600","94,718",...,106,57,107,32,9,14,6,7,1,3
20,2010,"5,675,786","5,346,336","1,696,851","2,258,639","796,824","334,751","224,459","34,811","96,852",...,115,57,104,39,14,14,5,8,1,3
21,2011,"5,540,173","5,210,068","1,671,205","2,158,067","796,819","326,151","224,463","33,363","90,457",...,110,58,100,37,34,14,6,8,1,3
22,2012,"5,338,698","5,006,200","1,660,352","2,023,256","806,744","282,367","200,308","33,174","89,957",...,102,58,92,35,19,14,6,7,1,3
23,2013,"5,474,257","5,123,343","1,669,818","2,038,270","834,303","329,111","224,218","27,623","101,784",...,110,58,86,36,13,14,6,7,1,3
24,2014,"5,522,807","5,167,471","1,708,210","2,037,166","814,481","346,540","232,422","28,652","97,388",...,111,58,79,37,18,14,6,7,1,3
25,2015,"5,371,771","5,008,270","1,719,230","1,900,637","797,270","317,304","244,596","29,232","108,476",...,102,59,73,39,14,14,6,6,1,3
26,2016,"5,248,024","4,911,532","1,759,866","1,808,871","792,496","292,764","231,552","25,983","99,840",...,101,61,70,34,23,14,7,6,1,3
27,2017,"5,207,751","4,854,480","1,782,441","1,732,031","790,069","293,397","231,989","24,552","113,539",...,95,63,67,31,25,14,7,5,1,4
28,2018,"5,375,491","4,991,420","1,816,563","1,752,936","813,569","338,058","245,738","24,555","129,728",...,95,65,63,32,35,14,7,5,1,4
29,2019,"5,255,816","4,856,702","1,817,209","1,606,024","822,470","336,752","249,691","24,556","128,763",...,84,66,60,34,18,14,7,5,1,3

In [30]:
table10clean= table10.rename(columns = {'Unnamed: 0':'year'})
table10clean['year'].astype(str).astype(int)

0     1990
1     1991
2     1992
3     1993
4     1994
5     1995
6     1996
7     1997
8     1998
9     1999
10    2000
11    2001
12    2002
13    2003
14    2004
15    2005
16    2006
17    2007
18    2008
19    2009
20    2010
21    2011
22    2012
23    2013
24    2014
25    2015
26    2016
27    2017
28    2018
29    2019
Name: year, dtype: int32

In [39]:
table2andhoney= pd.merge(honeydf,table2clean, on="year", how='outer').dropna(axis=0)
table2andhoney.to_csv("table2andhoney.csv")
table2andhoney

,year,Number of Colonies,Yield Per Colony,Total Production,Stocks,Price Per Pound,Production Value,CO2,Fossil Fuel Combustion,Transportation,...,Stationary Combustion.1,Manure Management.1,Mobile Combustion.1,Nitric Acid Production,Adipic Acid Production,N2O from Product Uses,Composting.1,"Caprolactam, Glyoxal, and Glyoxylic Acid Production",Incineration of Waste.2,International Bunker Fuels b.2
0,1998,2621000.0,3008.0,219519000.0,80565000.0,35.80,146091000.0,"5,731,050","5,320,581","1,679,024",...,95,52,194,48,17,16,4,7,1,3
1,1999,2637000.0,2815.0,202387000.0,78390000.0,34.58,123657000.0,"5,804,669","5,371,982","1,746,445",...,95,54,186,46,16,16,4,7,1,3
2,2000,2604000.0,2906.0,219558000.0,84956000.0,34.03,131568000.0,"6,010,508","5,608,609","1,792,301",...,100,55,182,45,18,16,4,7,1,3
3,2001,2542000.0,2840.0,185748000.0,64764000.0,40.12,132282000.0,"5,904,882","5,530,665","1,762,572",...,99,54,175,36,15,16,5,6,1,3
4,2002,2565000.0,2939.0,171265000.0,39177000.0,60.34,227302000.0,"5,946,771","5,567,973","1,803,118",...,103,56,168,39,17,14,5,7,1,3
5,2003,2591000.0,2752.0,181372000.0,40619000.0,65.77,252079000.0,"6,011,837","5,644,298","1,812,082",...,107,56,161,37,18,14,5,7,1,3
6,2004,2539000.0,2657.0,182729000.0,60981000.0,52.67,197307000.0,"6,114,007","5,721,277","1,845,324",...,111,54,154,37,12,14,6,7,1,3
7,2005,2394000.0,2635.0,173969000.0,62187000.0,49.00,160793000.0,"6,134,521","5,753,507","1,858,648",...,115,55,139,38,24,14,6,7,1,3
8,2006,2378000.0,2536.0,154238000.0,60235000.0,53.45,157924000.0,"6,051,668","5,667,213","1,859,216",...,114,57,137,37,29,14,6,7,1,3
9,2007,2428000.0,2426.0,147621000.0,52405000.0,58.97,161356000.0,"6,131,004","5,754,027","1,860,822",...,116,58,122,44,34,14,6,7,1,3
10,2008,2326000.0,2501.0,162972000.0,50996000.0,66.65,229992000.0,"5,914,078","5,555,537","1,759,761",...,114,57,113,38,8,14,6,7,1,3
11,2009,2472000.0,2154.0,145068000.0,37322000.0,72.48,213920000.0,"5,478,210","5,182,208","1,688,556",...,106,57,107,32,9,14,6,7,1,3
12,2010,2666000.0,2251.0,175294000.0,44797000.0,77.16,278370000.0,"5,675,786","5,346,336","1,696,851",...,115,57,104,39,14,14,5,8,1,3
13,2011,2466000.0,2191.0,147201000.0,36550000.0,86.69,258688000.0,"5,540,173","5,210,068","1,671,205",...,110,58,100,37,34,14,6,8,1,3
14,2012,2509000.0,2207.0,140907000.0,31662000.0,94.68,280725000.0,"5,338,698","5,006,200","1,660,352",...,102,58,92,35,19,14,6,7,1,3
15,2013,2640000.0,2105.0,149499000.0,38160000.0,105.51,320078000.0,"5,474,257","5,123,343","1,669,818",...,110,58,86,36,13,14,6,7,1,3
16,2014,2709000.0,2294.0,176866000.0,40990000.0,112.50,383514000.0,"5,522,807","5,167,471","1,708,210",...,111,58,79,37,18,14,6,7,1,3
17,2015,2630000.0,2213.0,155376000.0,41832000.0,117.05,322505000.0,"5,371,771","5,008,270","1,719,230",...,102,59,73,39,14,14,6,6,1,3
18,2016,2740000.0,2163.0,160357000.0,40837000.0,116.77,335285000.0,"5,248,024","4,911,532","1,759,866",...,101,61,70,34,23,14,7,6,1,3
19,2017,2635000.0,2127.0,146165000.0,30393000.0,119.55,317502000.0,"5,207,751","4,854,480","1,782,441",...,95,63,67,31,25,14,7,5,1,4
20,2018,2767000.0,2035.0,150949000.0,28777000.0,120.47,324883000.0,"5,375,491","4,991,420","1,816,563",...,95,65,63,32,35,14,7,5,1,4
21,2019,2782000.0,2042.0,155504000.0,40671000.0,114.82,297120000.0,"5,255,816","4,856,702","1,817,209",...,84,66,60,34,18,14,7,5,1,3

In [38]:
table10andhoney= pd.merge(honeydf,table10clean, on="year", how='outer').dropna(axis=0)
table10andhoney.to_csv("table10andhoney.csv")
table10andhoney

,year,Number of Colonies,Yield Per Colony,Total Production,Stocks,Price Per Pound,Production Value,Transportation,Electric Power Industry,Industry,Agriculture,Commercial,Residential
0,1998,2621000.0,3008.0,219519000.0,80565000.0,35.80,146091000.0,"1,792.40","2,229.70","1,661.80",621.8,403.0,346.9
1,1999,2637000.0,2815.0,202387000.0,78390000.0,34.58,123657000.0,"1,863.40","2,243.80","1,609.30",612.7,399.4,366.7
2,2000,2604000.0,2906.0,219558000.0,84956000.0,34.03,131568000.0,"1,913.70","2,349.50","1,598.80",598.1,413.7,388.0
3,2001,2542000.0,2840.0,185748000.0,64764000.0,40.12,132282000.0,"1,885.60","2,310.00","1,549.20",618.9,402.7,378.1
4,2002,2565000.0,2939.0,171265000.0,39177000.0,60.34,227302000.0,"1,926.10","2,325.90","1,532.10",621.9,404.3,375.3
5,2003,2591000.0,2752.0,181372000.0,40619000.0,65.77,252079000.0,"1,933.40","2,357.20","1,510.80",622.4,420.6,393.7
6,2004,2539000.0,2657.0,182729000.0,60981000.0,52.67,197307000.0,"1,966.00","2,390.20","1,559.50",635.0,418.5,381.9
7,2005,2394000.0,2635.0,173969000.0,62187000.0,49.00,160793000.0,"1,975.60","2,456.30","1,518.80",629.7,407.9,371.0
8,2006,2378000.0,2536.0,154238000.0,60235000.0,53.45,157924000.0,"1,975.90","2,399.60","1,550.20",628.9,394.5,334.3
9,2007,2428000.0,2426.0,147621000.0,52405000.0,58.97,161356000.0,"1,974.40","2,466.30","1,541.20",646.1,408.5,355.3
10,2008,2326000.0,2501.0,162972000.0,50996000.0,66.65,229992000.0,"1,870.80","2,412.50","1,481.50",634.3,415.8,363.9
11,2009,2472000.0,2154.0,145068000.0,37322000.0,72.48,213920000.0,"1,796.20","2,196.30","1,326.80",636.2,419.6,354.5
12,2010,2666000.0,2251.0,175294000.0,44797000.0,77.16,278370000.0,"1,802.20","2,311.90","1,418.10",644.5,422.1,355.5
13,2011,2466000.0,2191.0,147201000.0,36550000.0,86.69,258688000.0,"1,769.10","2,209.30","1,421.80",625.9,417.9,349.1
14,2012,2509000.0,2207.0,140907000.0,31662000.0,94.68,280725000.0,"1,749.40","2,071.20","1,415.40",609.5,398.9,306.9
15,2013,2640000.0,2105.0,149499000.0,38160000.0,105.51,320078000.0,"1,751.90","2,090.00","1,466.50",647.9,422.3,357.7
16,2014,2709000.0,2294.0,176866000.0,40990000.0,112.50,383514000.0,"1,785.90","2,090.10","1,451.00",657.5,432.6,378.3
17,2015,2630000.0,2213.0,155376000.0,41832000.0,117.05,322505000.0,"1,794.10","1,950.00","1,441.60",658.5,445.4,351.5
18,2016,2740000.0,2163.0,160357000.0,40837000.0,116.77,335285000.0,"1,830.00","1,857.60","1,402.20",645.8,430.1,327.8
19,2017,2635000.0,2127.0,146165000.0,30393000.0,119.55,317502000.0,"1,847.30","1,778.90","1,423.40",646.6,431.9,329.9
20,2018,2767000.0,2035.0,150949000.0,28777000.0,120.47,324883000.0,"1,878.20","1,798.00","1,483.30",662.0,447.3,377.3
21,2019,2782000.0,2042.0,155504000.0,40671000.0,114.82,297120000.0,"1,875.70","1,648.10","1,504.80",669.5,455.3,379.5