In [1]:
#Load the libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
import csv
%matplotlib inline

In [2]:
#Import Bee CSV
bees_data = pd.read_csv("honey bees.csv")

In [3]:
#Show the data
bees_data

,state,numcol,yieldpercol,totalprod,stocks,priceperlb,prodvalue,year
0,AL,16000.0,71,1136000.0,159000.0,0.72,818000.0,1998
1,AZ,55000.0,60,3300000.0,1485000.0,0.64,2112000.0,1998
2,AR,53000.0,65,3445000.0,1688000.0,0.59,2033000.0,1998
3,CA,450000.0,83,37350000.0,12326000.0,0.62,23157000.0,1998
4,CO,27000.0,72,1944000.0,1594000.0,0.70,1361000.0,1998
...,...,...,...,...,...,...,...,...
901,VA,5000.0,39,195000.0,49000.0,7.51,1464000.0,2019
902,WA,81000.0,35,2835000.0,1191000.0,2.12,6010000.0,2019
903,WV,6000.0,37,222000.0,47000.0,4.50,999000.0,2019
904,WI,46000.0,47,2162000.0,692000.0,2.99,6464000.0,2019
905,WY,39000.0,56,2184000.0,306000.0,1.35,2948000.0,2019

In [6]:
#Add up years
bees_data_groupby_year_df =  bees_data.groupby(['year'])
bees_data_yeartotal_df = bees_data_groupby_year_df.sum()

In [7]:
bees_data_yeartotal_df.index.name = 'year'

In [9]:
#Rename Columns
bees_data_yeartotal_df = bees_data_yeartotal_df.rename(columns={"numcol": "Number of Colonies",
                                     "yieldpercol":"Yield Per Colony","totalprod": "Total Production",
                                     "stocks": "Stocks", "priceperlb": "Price Per Pound", 
                                      "prodvalue": "Production Value", "year": "Year"})

In [10]:
bees_data_yeartotal_df.head()

,Number of Colonies,Yield Per Colony,Total Production,Stocks,Price Per Pound,Production Value
year,,,,,,
1998,2621000.0,3008,219519000.0,80565000.0,35.80,146091000.0
1999,2637000.0,2815,202387000.0,78390000.0,34.58,123657000.0
2000,2604000.0,2906,219558000.0,84956000.0,34.03,131568000.0
2001,2542000.0,2840,185748000.0,64764000.0,40.12,132282000.0
2002,2565000.0,2939,171265000.0,39177000.0,60.34,227302000.0

In [12]:
bees_data_yeartotal_df.to_csv("cleanhoney.csv", header=True)

In [ ]:
#Average production of honey per state across the years
bees_state_prod = bees_data[['state', 'totalprod']].groupby('state').mean().round()

In [ ]:
bees_state_prod = pd.DataFrame(bees_state_prod.groupby("state")["totalprod"].mean().round())

In [ ]:
bees_state_prod

In [ ]:
bees_state_prod.sort_values('totalprod', ascending=False, inplace=True)

In [ ]:
#Bar chart for total production per state
x_axis = np.arange(len(bees_state_prod))
tick_locations = bees_data['state'].unique()

plt.bar(x_axis, bees_state_prod['totalprod'])
plt.xticks(x_axis, tick_locations, rotation="vertical")


plt.title("Total Honey Production per State")
plt.xlabel("State")
plt.ylabel("Total Production in Pounds")

plt.figure(figsize=(100,10))


plt.show()

In [ ]:
#Count years in dataset
bees_data['year'].nunique()

In [ ]:
bees_data['year'].min()

In [ ]:
bees_data['year'].max()

In [ ]:
pd.DataFrame(bees_data)

In [ ]:
bees_data.sort_values(by='year')

In [ ]:
bees_data.columns

In [ ]:
bees_data_renamed_df = bees_data.rename(columns={"state":"State", "numcol": "Number of Colonies",
                                     "yieldpercol":"Yield Per Colony","totalprod": "Total Production",
                                     "stocks": "Stocks", "priceperlb": "Price Per Pound", 
                                      "prodvalue": "Production Value", "year": "Year"})
bees_data_renamed_df

In [ ]:
bees_data_renamed_df.count()

In [ ]:
bees_data_renamed_df.describe()

In [ ]:
bees_data_renamed_df.dtypes

In [ ]:
honeyprod_year = bees_data_renamed_df.astype('category')

In [ ]:
honeyprod_year.describe()